.side
  .side__header
    .side__header__box
      %p.side__header__box__user-name
        = current_user.name
      %ul.side__header__box__menu
        %li.side__header__box__menu__new
          = link_to new_group_path do
            %i.far.fa-edit
        %li.side__header__box__menu__edit
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog

  .side__groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .side__groups__name
            = group.name
          .side__groups__latest
            = group.show_last_message


